@tailwind base;
@tailwind components;
@tailwind utilities;

/* move this to tailwind */
:root{
  --decor-font: 'Jost', sans-serif;
  --regular-font: 'DM Serif Display', serif;
}

body{
  font-family: var(--regular-font);
}

.header{
  margin: 10px;
  font-size: 40px;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #19BCA7 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 11px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #19BCA7;
    border-radius: 3px;
    border: 3px solid #ffffff;
  }
