@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --decor-font: 'Jost', sans-serif;
  --regular-font: 'DM Serif Display', serif;
}

body{
  /* background-image: url(/potfolio-assets/tumblr_79160a080256b77c44f30cd6dfb75c84_1c00c593_2048.jpg); */
  background-image: url(/blurry-gradient-haikei.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  font-family: var(--regular-font);
  color: white;
}

.header{
  margin: 10px;
  font-size: 40px;
}